*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-weight: 600;
    background: hsl(0, 0%, 8%);
    color: white;
    font-family: "Inter", sans-serif;
}
#box{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    width: 25%;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 background-color: hsl(0, 0%, 12%);   
 border-radius: 15px;

}
img{
    margin-top: 20px;
    width: 100px;
    border-radius: 50%;
}
p:first-of-type{
    margin-top: 20px;
    font-size: 1.4rem;
}
#greentxt{
    margin-top: 10px;
    font-size: 0.8rem;
    color: hsl(75, 94%, 57%);
}
p:last-of-type{
    margin-top: 23px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 0.8rem;

}


button{
    font-weight: 600;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 90%;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 6px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: hsl(0, 0%, 20%);
}
button:hover{
    color: black;
    background-color: hsl(75, 94%, 57%);
}


.attribution { 
    margin-top: 3%;
    font-size: 11px; text-align: center; 
}
.attribution a { color: white;
    text-decoration: none;

}
.attribution a:hover{
    color: hsl(75, 94%, 57%);
}

/*For Mobile design*/
@media screen and (max-width: 375px) {
#box{
    width: 90%;

    padding-bottom: 20px;
    text-align: center;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20%;
    margin-bottom: 50px;
}
img{
    border-radius: 50%;
}
}
